* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 3rem;
  color: #333;
}

h2 {
  font-size: 2.5rem;
  color: #333;
}

h3 {
  font-size: 0.75rem;
  color: #444;
  font-weight: 200;
}

p {
  color: #222;
  font-family: "Courier New", Courier, monospace;
  margin-top: 1.2em;
}

#top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  height: 100vh;
}

.top__head {
  display: flex;
  justify-content: space-between;
}

.top__head__logo {
  height: 4em;
  width: 4em;
}

.top__head__logo__img {
  object-fit: contain;
}

.top__head__nav {
  font-size: 0.65rem;
  list-style: none;
}

.top__head__nav li {
  text-align: right;
}

.top__head__nav li:hover {
  opacity: 0.5;
}

.top__head__nav a {
  text-decoration: none;
  font-weight: 600;
  color: #666;
  line-height: 1.5em;
  position: relative;
}

.top__head__nav li:hover a::before {
  content: "";
  width: 100%;
  height: 1px;
  background: #333;
  position: absolute;
  bottom: 0;
}

.top__legal__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 0.6rem;
}

.top__legal__list a {
  text-decoration: none;
  color: #444;
  border-bottom: 1px dashed slategray;
}

.top__legal__list a:hover {
  opacity: 0.5;
}

/* HERO  */
#hero {
  padding: 1em;
  height: 100vh;
  background: rgb(115 170 74);
}

.hero__img {
  object-fit: contain;
  object-position: center;
  display: block;
  width: 100%;
  height: 100%;
}

/* Sidekick */
#sidekick {
  height: 100vh;
  background: #666;
}

.sidekick__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center right;
}

/* About */

#about {
  height: auto;
  padding: 3em 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* Social */

#social {
  height: auto;
  padding: 3em 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #e6e6e6;
  gap: 3em;
}

.social__stack {
  list-style: none;
}

.social__stack li {
  line-height: 2em;
  text-align: center;
}

.social__menu {
  display: flex;
  justify-content: center;
}

.social__menu *:not(:first-child) {
  padding: 0 0 0 1em;
}

.social__menu a {
  text-decoration: none;
  font-weight: 600;
  color: #666;
  font-size: 0.6rem;
}

.social__menu a:hover {
  opacity: 0.5;
}
.social__menu a img {
  width: 15px;
  height: 15px;
  opacity: 0.7;
}

@media (min-width: 360px) and (max-width: 671px) {
  .top__legal__list {
    justify-content: flex-start;
  }

  .top__legal__list *:not(:first-child) {
    padding-left: 1em;
  }
}

@media (min-width: 42em) {
  html,
  :root {
    font-size: 12px;
  }
  body {
    display: grid;
    grid-template-columns: repeat(12, 8.2vw);
    grid-template-rows: 70vh 1fr;
    /* overflow-x: hidden; */
  }

  #top {
    grid-column: 1 / span 4;
    grid-row: 1 / 2;
    height: auto;
  }

  #hero {
    grid-column: 5 / span 8;
    grid-row: 1 / 2;
    height: auto;
  }

  #sidekick {
    grid-column: 1 / span 4;
    grid-row: 2 / 3;
    height: auto;
  }

  #about {
    grid-column: 5 / span 4;
    grid-row: 2 / 3;
    height: auto;
  }

  #social {
    grid-column: 9 / span 4;
    grid-row: 2 / 3;
    height: auto;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: flex-start;
  }

  .social__stack__wrap {
    margin: 0 auto;
  }

  .social__stack li:first-of-type {
    margin-top: 1.2em;
  }

  .social__menu {
    display: flex;
    flex-direction: column;
    width: auto;
    position: absolute;
    right: 1em;
    place-self: center;
  }
  .social__menu *:not(:first-child) {
    padding: 1em 0 0 0;
  }
}
